.dashboard h1 {
    font-size: 28px;
    margin-bottom: 24px;
}

.accounts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.account-card {
    background: lch(37.95% 68.09 300.27);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(120, 119, 119, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.account-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.account-card h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 12px;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

@media (max-width: 1200px) {
    .accounts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .page-container {
        padding-left: 32px;
    }

    .accounts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .page {
        margin-left: 0;
    }

    .page-container {
        padding-left: 0;
    }

    .accounts-grid {
        grid-template-columns: 1fr;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}